@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono');

/*Colour Defs*/
:root {
  --colourDark: #041C32;
  --colourMid: #04293A;
  --colourLight: #064663;
  --colourAccent: #ECB365;
  --colourRed: #bb0000;
  --colourBlue: #0066cc;
  --colourPurple: #8800bb;
  --colourGray: #444444;
  --colourGreen: #006600;
  --fontFont: 'Share Tech Mono'
}

/*Standard things*/
body {
  background-color: var(--colourDark);
  overflow-y: scroll;
  text-align: center;
  font-family: var(--fontFont);
}

.SubDivsInRow,
.SubDivsInCol {
  justify-content: center;
  align-content: center;
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
}

.SubDivsInRow {
  flex-direction: row;
}

.SubDivsInCol {
  flex-direction: column;
}

.Card,
.WideCard,
.NarrowCard {
  font-family: var(--fontFont);
  display: inline-block;
  border-style: solid;
  border-radius: 12px;
  width: 25vw;
  margin: 5px;
}

.NarrowCard {
  max-width: 250px;
}

.WideCard {
  width: 70vw;
}

.ColourDark {
  background-color: var(--colourDark);
}

.ColourMid {
  background-color: var(--colourMid);
}

.ColourMidHover:hover {
  background-color: var(--colourMid);
}

.ColourLight {
  background-color: var(--colourLight);
}

.ColourAccent {
  background-color: var(--colourAccent);
}

/*Stat boxes*/
.Statbox,
.StatboxZero,
.LevelUpButton,
.InterBox,
.InterBoxAxis,
.NameBox {
  border-style: solid;
  border-radius: 8px;
  border-color: black;
  width: 90px;
}

.NameBox,
.Statbox,
.StatboxZero,
.LevelUpButton {
  margin: 5px;
  font-family: var(--fontFont);
  background-color: var(--colourAccent);
}

.NameBox {
  font-size: large;
  display: flex;
  justify-content: center;
  align-content: center;
  width: auto;
}

.StatboxZero {
  background-color: var(--colourMid);
  color: var(--colourMid);
}

.InterBox,
.InterBoxAxis {
  color: var(--colourAccent);
  background-color: var(--colourLight);
}

.InterBoxAxis {
  color: black;
  background-color: #ECB365;
}

.StatNumber {
  font-size: x-large;
}

.StatLabel {
  font-size: small;
}

.STAT {
  color: var(--colourRed);
}

.ELMT {
  color: var(--colourPurple);
}

.TRNG {
  color: var(--colourBlue);
}

.GEAR {
  color: var(--colourGreen);
}

.DEF {
  color: var(--colourGray);
}

/*Controls*/
.NameSubmit,
.NameInput,
.LoadSubmit {
  border-radius: 5px;
  font-size: x-large;
  text-align: center;
  border-color: black;
  min-height: 60px;
  min-width: 60px;
  margin: 5px
}

.LoadInput {
  word-wrap: break-word;
  border-radius: 10px;
  font-size: medium;
  text-align: center;
  border-color: black;
  min-height: 600px;
  min-width: 400px;
  margin: 5px
}

.NavButton {
  font-family: var(--fontFont);
  font-size: large;
  background-color: var(--colourLight);
  border-radius: 12px;
  min-height: 40px;
  border-color: black;
  color: var(--colourAccent);

  min-width: 150px;
  max-width: 150px;
  min-height: 50px;
  max-height: 50px;
  margin: 5px;
}

.NavButton:hover,
.StatButton:hover,
.LevelUpButton:hover {
  background-color: var(--colourMid);
}

/*Centred boxes with colourMid*/
.InstructionBox {
  justify-content: center;
  align-content: center;
  display: inline-block;
  margin: 10px;
  border-radius: 12px;
  border-color: black;
  background-color: var(--colourMid);
  border-style: solid;
}

.InstructionBox {
  color: var(--colourAccent);
  word-wrap: break-word;
  min-height: 40px;
  min-width: 600px;
  max-width: 800px;
}

.InstructionHolder {
  display: block;
  flex-direction: column;
}

/*Statbox Holders*/
.Statbar {
  margin: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  border-radius: 12px;

  border-color: black;
  color: black;
  border-style: solid;

  background-color: var(--colourDark);
}

.GridHolder {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.GridBase {
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
  grid-template-columns: 95px 95px 95px 95px 95px 95px 95px 95px 95px 95px;

  padding: 5px;

  border-style: solid;
  border-radius: 12px;
  border-color: black;
  background-color: var(--colourMid);
}